extends layout

block content 
  .row.page-header
    .col-lg-12 
      h1= pageHeader.title
        small &nbsp; #{pageHeader.strapline}
  .row
    .col-xs-12.col-md-8
      .row
        .col-xs-12.col-sm-7        
          a(title='Image 1', href='#')
            img#dog-images.img-responsive.thumbnail.center-block(src='/images/growlie1.jpg', data-toggle='tooltip', data-placement='bottom', title='', data-original-title='Click to view all pictures.', data-animation='true')
        .col-xs-12.col-sm-5
          dl
            dt Name
            dd= dogInfo.name
          dl
            dt Breed
            dd= dogInfo.breed
          dl
            dt Age
            dd= dogInfo.age
          dl
            dt Last seen date
            dd= dogInfo.lastSeenDate
          dl
            dt Last seen location
            dd= dogInfo.lastSeenLocation
          dl
            dt Tags
            dd
            each tag in dogInfo.tags
              span.label.label-success= tag
              | &nbsp;
        .col-xs-12
          dl
            dt Description of dog
            dd
              p(align='justify')= dogInfo.dogDescription
      #img-repo.hidden
        #dog-images.item
          img.thumbnail.img-responsive.center-block(title='Growlie 1', src='/images/growlie1.jpg')
        #dog-images.item
          img.thumbnail.img-responsive.center-block(title='Growlie 2', src='/images/growlie2.jpg')
        #dog-images.item
          img.thumbnail.img-responsive.center-block(title='Growlie 3', src='/images/growlie3.jpg')
      #modal-gallery.modal.fade(role='dialog')
        .modal-dialog
          .modal-content
            .modal-body
              #modal-carousel.carousel
                .carousel-inner
                a.carousel-control.left(href='#modal-carousel', data-slide='prev')
                  i.glyphicon.glyphicon-chevron-left
                a.carousel-control.right(href='#modal-carousel', data-slide='next')
                  i.glyphicon.glyphicon-chevron-right
            .modal-footer
              button.btn.btn-primary.center-block(data-dismiss='modal') Close
      .row
        .col-xs-12
          .panel.panel-inverse.comment-panel
            .panel-heading 
              a.btn.btn-primary.pull-right(href='#') Add comment
              h2.panel-title Comments 
            each comment in comments
              .panel-body.comment-container
                .row 
                  .comment
                    .well.well-sm.comment-header 
                      span.commentAuthor 
                        a(href='#')= comment.author
                      small.commentTimestamp= comment.timestamp
                    .col-xs-12
                      p= comment.comment
