extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
         h1= pageHeader.title
          small &nbsp; #{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-9
      .row.list-group
        each dog in dogs  
          .col-xs-12.list-group-item
            .col-xs-12.col-sm-6.col-lg-4
              a(href="/dog")
                img.img-responsive.img-thumbnail.center-block(src=dog.image)
            .col-xs-12.col-sm-6.col-lg-8    
              h4
                a(href="/dog")= dog.name
                i
                  small &nbsp; missing since #{dog.lastSeenDate}
                span.label.pull-right.label-info.label-as-badge= dog.lastSeenDistance
              p= dog.summaryText
              p
                each tag in dog.tags
                  span.label.label-danger= tag
                  | &nbsp;
    .col-xs-12.col-sm-3
      p.lead Are you an animal lover? 
        br
        | Want to help others find their companions? 
        br
        | fetch shows lost dogs last seen near you.
